@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
html,
body,
content {
  width: 100vw;
  background: #f5fdf9;
  font-family: 'Noto Sans', 'sans-serif';
  color: #1d3024ef; 

}
#content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-rows: [topbar]50px [content]95%;
  grid-template-columns: [sidebar] 250px [datecards] 95%;
}
.blur {
  filter: blur(5px);
}
.editable:hover {
  color: rgb(118, 118, 134);
}
#popup {
  z-index: 1;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 400px;
  height: 300px;
  border-radius: 5px;
  padding: 1%;
  background-color: #f8fbfa;
  -webkit-box-shadow: 0px 5px 26px -10px #000000; 
  box-shadow: 0px 5px 26px -10px #000000;
  top: 30%;
  left: 40%;
}
.closeFormButton {
  position: absolute;
  top: 1%;
  right: 0.5%;
}
#sideBar {
  background: #04c46e31;

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin: 0;

}
#DateCards {
  background-color: #32533ee3;

  width: 100%;
  height: 100vh;
  overflow: auto;
  padding-left: 2rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-auto-rows: 400px;
  padding-left: 4%;
  padding-top: 2%;
}
.dateCard {
  width: 60%;
  height: 75%;
  max-height: 400px;
  margin: 1%;
  margin-top: 5%;
  background-color: #f8fbfa;
  -webkit-box-shadow: 0px 4px 21px 3px #32533e; 
  box-shadow: 0px 4px 21px 3px #32533e;
  border-radius: 4px;


}
.blank {
  opacity: 50%;
  display: flex;
  justify-content: center;
  align-items: center;


}

.dateCardTitle {
  position: relative;
  top: -8px;
  left: -5px;
  background-color: #ffac2f;
  border-radius: 8px;
  width: 40%;
  text-align: center;
}
.dateCardList {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  margin: 0;
  padding-left: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.dateCardList:hover {
  overflow-y: auto;
}
.dateCardContent {
  width: 100%;
  height: 93.5%;
  display: flex;
  flex-direction: column;
}
.dateCardEntry {
  display: flex;
  justify-content: stretch;
  align-items: center;
  height: 30%;
  width: 100%;
  transition: all;
  transition-duration: 70ms;
}
.checkedOff {
  text-decoration: line-through;
  color: rgb(100, 100, 100);
}
.dateCardEntry:hover {
  background-color: rgb(154, 149, 149);
}
.newTaskButton {
  width: 2rem;
  height: 3rem;
  opacity: 50%;
  align-self: flex-end;
  padding: 1rem;
  transition: all;
  transition-duration: 70ms;

}
.newTaskButton:hover {
  opacity: 100%;
}
.plusIcon {
  width: 50%;
  height: 50%;
  transition:ease-in;
  transition-duration: 70ms;
}
.plusIcon:hover {
  opacity: 100%;
  transform: scale(1.1);
}
.pencilIcon {
  padding-left: 2%;
  height: 5%;
  width: 5%;
}
.pencilIcon:hover {
  transform: scale(1.1);
}

.check {
  width: 30%;
  height: 30%;
  opacity: 50%;
  stroke: #32533ee3;
  ;
}
.check:hover {
  transform: scale(1.2);
  opacity: 100%;
}
#projectList {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}
.projectHeader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeIcon {
  width: 25%;
  height: 25%;

  
}
.projectEntry {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  padding: 10% 5% 10% 5%;
  border-bottom: 2px solid #32533ee3;
  transition:ease-in;
  transition-duration: 70ms;
}
.projectEntry:hover {
  background: rgb(100, 100, 255);
  background: #ffac2f;

}
.active {
  background: rgb(129, 129, 255);
}
h3 {
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 5%;
  user-select: none;
}
.sidebarTagList {
  justify-self: flex-end;
  align-self: flex-end;
}
.sidebarTagEntry {
  height: 1.5rem;
  border-radius: 10px;
  border-color: #32533e;
  background-color: #ffac2f;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  user-select: none;
  transition:ease-in;
  transition-duration: 70ms;

  
}
.sidebarTagEntry:hover {
  background-color: #f7b95d;
}
.taskNote {
  display: inline;
}

.taskHeaderElement {
  display: inline;
}
.taskTagContainer {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  display: flex;
  flex-flow: wrap;
}
.taskTag {
  user-select: none;
  display: flex;
  align-items: center;
  height: 1.5rem;
  border-radius: 10px;
  background-color: #ffac2f;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}
.taskTag p {
  padding: 0.5rem;
}
.taskTag:hover {
  background-color: #ffac2f;
}
#topBar {
  background: #04C46D;
  color: #1d3024ef; 
  align-self: stretch;
  width: 100%;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: -6px 9px 24px -7px #32533e; 
  box-shadow: -6px 9px 24px -7px #32533e;
  clip-path: inset(0px 0px -200px 0px);

}
#topBar > h1 {
  padding-left: 1rem;
  display: inline;
  margin: 0;
}
#topBar > button {
  margin-left: 1rem;
}
